/* Estilos para el contenedor principal */
.container {
    display: flex;
}

/* Estilos para la barra lateral */
.sidebar {
    width: 200px;
    background-color: #004d40;
    padding: 20px;
    border-right: 1px solid #ddd;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: width 0.3s;
}

.sidebar-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}

.platform-list {
    list-style: none;
    padding: 0;
}

.platform-list li {
    margin-bottom: 10px;
}

.platform-list a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.platform-list a:hover {
    background-color: #26a69a;
    text-decoration: none;
}

.intro-link {
    margin-top: 20px;
    text-align: center;
}

.intro-link a {
    color: #26a69a;
    text-decoration: none;
}

.intro-link a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal */
.content {
    flex: 1;
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s;
}

/* Estilos para el texto introductorio */
.introText {
    background-color: #e0f2f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.introText h2 {
    color: #004d40;
}

.introText p {
    color: #004d40;
}

.introImage {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

/* Estilos para los recuadros grandes de información */
.infoBox {
    background-color: #e0f2f1;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

/* Estilos para los gráficos y su contenedor */
.chartsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chartRow {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.chartWrapper {
    flex: 1;
    max-width: 400px;
    max-height: 300px;
    margin: 10px;
}

.canvas-container {
    position: relative;
    height: 300px;
    width: 400px;
}

/* Estilos adicionales para el menú lateral */
.sidebar.active {
    width: 100%;
}

.content.active {
    margin-left: 100%;
}
